@unocss all;

body {
	font-synthesis-weight: none;
	text-rendering: optimizeLegibility;
}

.button {
	@apply inline-flex items-center justify-center gap-2 text-sm h-9 rounded-md px-3 border border-stone-300;
	white-space: nowrap;
	cursor: pointer;
}

.button:hover {
	@apply bg-stone-200;
}

.button:active {
	@apply bg-stone-300 border-stone-300;
}

.button.is-active {
	@apply bg-stone-300 border-stone-400;
}

.button.is-active:hover {
	@apply bg-stone-300 border-stone-400;
}
